:root {
  --grey-900: #141414;
  --grey-800: #1f1f1f;
  --grey-700: #333333;
  --white: #ffffff;
  --green: #c4f82a;

  --container-width: 24rem;
  --avatar-size: 7.5rem;
  --card-padding-y: 1.6rem;
  --card-padding-x: 2.6rem;
  --border-radius: 0.9375rem;
  --li-padding-y: 0.9375rem;
  --li-margin-bottom: 1.125rem;
  --font-small: 0.875rem;
  --p-margin-bottom: 2.25rem;
  --location-margin-bottom: 1.25rem;
  --description-margin-bottom: 0.75rem;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: clamp(5rem, 5vh, 1rem) 1rem;
  background-color: var(--grey-900);
  color: var(--white);
  box-sizing: border-box;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: hidden;
}

.social-links-card {
  background-color: var(--grey-800);
  width: var(--container-width);
  text-align: center;
  padding: var(--card-padding-y) var(--card-padding-x);
  border-radius: var(--border-radius);
  min-height: 579px;
  height: auto;
}

.social-links-card img {
  border-radius: 50%;
  width: var(--avatar-size);
}

.social-links-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-bottom: 0;
}

.location {
  color: var(--green);
  margin-bottom: var(--location-margin-bottom);
  margin-top: clamp(-0.625rem, -2vw, -0.3125rem);
  letter-spacing: 0.09em;
}

.description {
  margin-bottom: var(--description-margin-bottom);
}

p {
  margin-bottom: var(--p-margin-bottom);
}

.card-social-media {
  padding-left: 0;
  padding-bottom: 0;
  width: var(--container-width);
  text-align: center;
}

.card-social-media a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
  background-color: var(--grey-700);
  margin-bottom: var(--li-margin-bottom);
  padding: var(--li-padding-y) 0;
  border-radius: 0.625rem;
}

li:nth-child(5) {
  margin-bottom: 0;
}

li:hover {
  background-color: var(--green);
  color: var(--grey-900);
}

.attribution {
  /* font-size: 0.6875rem; */
  text-align: center;
  position: absolute;
  inset-inline-start: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  font-size: 1rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
